<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        ._title{
            padding: 5px;
            border: 1px solid rgb(149, 184, 231);
            /* border-color: rgb(149, 184, 231); */
            background-color: #E0ECFF;
        }
        .huxb{
            display: inline-block;
            width: 12%;
            height: 40px;
            border: 1px black solid;
        }

        .head-form{
            background-color: beige;
        }
    </style>
</head>
<body>
    <div class="classschedule">
        <div class="header">
            <div class="_title">课程表</div>
        </div>
        <div class="head-form">
            <tr>
                <td field="blank" class="">
                    <div class="huxb" style="text-align: center;">
                    </div>
                </td>
                <td field="Mon" class="">
                    <div class="huxb" style="text-align: center;">
                        星期一
                    </div>
                </td>
                <td field="Tues" class="">
                    <div class="huxb" style="text-align: center;">
                        星期二
                    </div>
                </td>
                <td field="Wed" class="">
                    <div class="huxb" style="text-align: center;">
                        星期三
                    </div>
                </td>
                <td field="Thur" class="">
                    <div class="huxb" style="text-align: center;">
                        星期四
                    </div>
                </td>
                <td field="Fri" class="">
                    <div class="huxb"  style="text-align: center;">
                        星期五
                    </div>
                </td>
                <td field="Satu">
                    <div class="huxb" style="text-align: center;">
                        星期六
                    </div>
                </td>
                <td field="Sun">
                    <div class="huxb" style="text-align: center;">
                        星期日
                    </div>
                </td>
            </tr>
        </div>
    </div>
</body>
</html>